table, tr, td {
    border: 1px #000 solid;
    border-collapse: collapse;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.btn {
    background-color: #fff;
    border: 1px #000 solid;
    font-family: sans-serif;
    font-size: 14px;
    height: 30px;
    text-decoration: none;

    &:hover {
        background-color: #eeeeee;
    }

    &:active {
        background-color: #e0e0e0
    }
}

.logo {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url('/img/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

$task-icon-size: 20px;

td[class^="task"] {
    position: relative;

    &:after {
        display: block;
        width: $task-icon-size;
        height: $task-icon-size;
        font-weight: 700;
        text-align: center;
        line-height: $task-icon-size;
        position: absolute;
        right: 10px;
        margin-top: -$task-icon-size;
        border-width: 1px;
        border-style: solid;
        box-sizing: content-box;
    }
}

.task-priority-Major {
    background-color: rgba(255, 0, 0, 0.10);

    &:after {
        content: '\21';
        color: red;
        border-color: red;
    }
}

.task-status-New {
    background-color: rgba(0, 255, 255, 0.10);

    &:after {
        content: '\26A0';
        color: rgba(0, 0, 180, 0.5);
        border-color: transparent;
    }
}

.task-status-InProgress {
    background-color: rgba(255, 255, 0, 0.10);

    &:after {
        content: '\2694';
        color: rgba(0, 180, 0, 0.5);
        border-color: transparent;
    }
}

.task-status-Done {
    background-color: rgba(0, 255, 0, 0.10);

    &:after {
        content: '\2713';
        color: rgba(0, 0, 180, 0.5);
        border-color: rgba(0, 0, 180, 0.5);
    }
}
