@model TMS.ViewModels.Tasks.TaskAddModelHybrid
@{
    ViewData["Title"] = "Add task";
    Layout = "_Layout";    
}
<div class="breadcrumbs">
    <a asp-controller="home" asp-action="index">Home</a> >
    <a asp-controller="tasks" asp-action="index">Tasks</a> >
    <span>Add task</span>
</div>
<h1>Add task</h1>
<form asp-controller="tasks" asp-action="add" method="post">
    <div>
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="AssigneeId" class="control-label"></label>
        <select asp-for="AssigneeId" asp-items="@Model.AssigneeList"></select>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    @if (ViewBag.IsAdmin)
    {
        <div>
            <label asp-for="ReporterId" class="control-label"></label>
            <select asp-for="ReporterId" asp-items="@Model.ReporterList"></select>
            <span asp-validation-for="ReporterId" class="text-danger"></span>
        </div>
    }
    else
    {
        <input asp-for="ReporterId" type="hidden" value="@Model.ReporterId" />
    }
    <div>
        <label asp-for="Priority" class="control-label"></label>
        <select asp-for="Priority" asp-items="@Model.PriorityList"></select>
    </div>
    <input type="submit" value="Create" />
</form>