@using TMS.WebUI.Common;
@model TMS.Application.Issues.Queries.GetIssueDetail.IssueDetailForUpsertVm;
@{
    ViewData["Title"] = "Add issue";
}

<div class="breadcrumbs">
    <a asp-controller="Home" asp-action="Index">Home</a> >
    <a asp-controller="Issue" asp-action="Index">Issues</a> >
    <span></span>
</div>

<h1>Add issue</h1>

<form asp-controller="Issue" asp-action="Create" method="post">
    <div>
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div>
        <label asp-for="AssigneeId" class="control-label"></label>
        <select asp-for="AssigneeId" asp-items="@Model.Employees.ToSelectList()"></select>
    </div>

    <div>
        <label asp-for="ReporterId" class="control-label"></label>
        <select asp-for="ReporterId" asp-items="@Model.Employees.ToSelectList()"></select>
    </div>

    <div>
        <label asp-for="Priority" class="control-label"></label>
        <select asp-for="Priority" asp-items="@Model.IssuePriorityLevels.ToSelectList()"></select>
    </div>

    <div>
        <label asp-for="Status" class="control-label"></label>
        <select asp-for="Status" asp-items="@Model.IssueStatuses.ToSelectList()"></select>
    </div>

    <input class="btn" type="submit" value="Create" />
</form>