@using TMS.WebUI.Common;
@model TMS.Application.Employees.Queries.GetEmployeeDetail.EmployeeDetailVm
@{
    ViewData["Title"] = "Employee Info";
}

<div class="breadcrumbs">
    <a asp-controller="Home" asp-action="Index">Home</a> >
    <a asp-controller="Employee" asp-action="Index">Employees</a> >
    <span>@Model.FullName [Edit mode]</span>
</div>

<h1>Employee Info</h1>

<form asp-controller="Employee" asp-action="Update" method="post">
    <div>
        <label asp-for="ShortName" class="control-label"></label>
        <input asp-for="ShortName" class="form-control" />
        <span asp-validation-for="ShortName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="FullName" class="control-label"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Active" class="control-label"></label>
        <input asp-for="Active" class="form-control" />
        <span asp-validation-for="Active" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Role" class="control-label"></label>
        <select asp-for="Role" asp-items="@Model.UserRoles.ToSelectList()"></select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>
    <input id="Update_Id" asp-for="Id" />
    <input class="btn" type="submit" value="Update" />
</form>

<form asp-controller="Employee" asp-action="Delete" method="post">
    <input id="Delete_Id" asp-for="Id" />
    <input class="btn" type="submit" value="Remove" />
</form>
