@model TMS.Application.Employees.Queries.GetEmployeeList.EmployeeListVm;
@{
    ViewData["Title"] = "All Employees";
}

<div class="breadcrumbs">
    <a asp-controller="home" asp-action="index">Home</a> >
    <span>Employee list</span>
</div>

<h1>Employees</h1>

<table class="table">
    <tr><td>ShortName</td><td>FullName</td><td>Role</td></tr>
    @foreach (var item in Model.Employees)
    {
        <tr>
            <td>@item.ShortName</td>
            <td><a asp-controller="Employee" asp-action="Detailed" asp-route-id="@item.Id">@item.FullName</a></td>
            <td>@item.RoleName</td>
        </tr>
    }
</table>

@if (User.IsInRole("Admin"))
{
    <a class="btn task-add noselect" asp-controller="Staff" asp-action="Create">New Employee</a>
}