@model TMS.ViewModels.StaffEditModelHybrid;
@{
    ViewData["Title"] = "Employee Info";
    Layout = "_Layout";
}
<div class="breadcrumbs">
    <a asp-controller="home" asp-action="index">Home</a> >
    <a asp-controller="staff" asp-action="index">Employees</a> >
    <span>@Model.FullName [Edit mode]</span>
</div>
<h1>Employee Info</h1>
<form asp-controller="staff" asp-action="edit" method="post">
    <div>
        <label asp-for="ShortName" class="control-label"></label>
        <input asp-for="ShortName" class="form-control" />
        <span asp-validation-for="ShortName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="FullName" class="control-label"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Role" class="control-label"></label>
        <select asp-for="Role" asp-items="@Model.RoleList"></select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="StaffId" value="@Model.StaffId" />
    <input class="btn" type="submit" value="Update" />
</form>
<form asp-controller="staff" asp-action="delete" method="post">
    <input type="hidden" name="employyeId" value="@Model.StaffId" />
    <input class="btn" type="submit" value="Remove" />
</form>