@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using TMS.Models;
@model IEnumerable<TMS.Models.Employees>
@{
    ViewData["Title"] = "All Employees";
    Layout = "_Layout";
}

<div class="breadcrumbs">
    <a asp-controller="home" asp-action="index">Home</a> >
    <span>Employee list</span>
</div>

<h1>Employees</h1>

<table class="table">
    <tr><td>ShortName</td><td>FullName</td><td>Role</td></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ShortName</td>
            <td><a asp-controller="staff" asp-action="detailed" asp-route-id="@item.Id">@item.FullName</a></td>
            <td>@((EmployeeRole)item.Role.Name)</td>
        </tr>
    }
</table>

<a class="btn task-add noselect" asp-controller="staff" asp-action="add">New Employee</a>